@use 'sass:math';
@use 'variables' as *;

.portfolio {
    &__pages-wrapper {
        display: grid;
        row-gap: math.div($container-padding, 2);

        @media (min-width: $breakpoint) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: math.div($container-padding, 2);
        }
    }

    &__page {
        border-radius: $mobile-section-border-radius;
        margin: 0;
        padding: math.div($container-padding, 2) $container-margin * 2;
        background-color: var(--element-color);
        height: fit-content;
    }
}

.portfolio-page {
    display: flex;
    flex-direction: column;

    &__image {
        align-self: center;
        border-radius: $mobile-section-border-radius * 0.4;
        margin-bottom: math.div($container-padding, 2);
        max-width: 100%;
        height: auto;
    }

    &__paragraph:last-child {
        margin-bottom: 0;
    }
}