@use 'sass:math';

$light1: #fafafa;
$light2: #f5f5f5;
$light3: #e5e5e5;

$neutral: #a3a3a3;

$dark1: #262626;
$dark2: #404040;
$dark3: #525252;

$indigo1: #3730a3;
$indigo2: #4338ca;

$rose: #FDA4AF;
$amber: #fcd34d;
$green: #4ade80;

$button-color: $indigo1;
$button-text-color: $light2;
$button-hover-color: $indigo2;
$button-text-hover-color: $light1;

@mixin lightColorScheme {
    --body-color: #{$light1};
    --text-color: #{$dark1};
    --symbol-color: #{$indigo1};
    --ttt-hover-color: #{$indigo2};
    --element-color: #{$light3};

    --header-footer-color: #{$indigo1};
    --header-footer-text-color: #{$light2};
    --header-footer-hover-color: #{$indigo2};
    --header-footer-text-hover-color: #{$light1};

    --animation-default: #{$indigo1};
    --animation-hover: #{$dark2};
}

@mixin darkColorScheme {
    --body-color: #{$dark2};
    --text-color: #{$light2};
    --symbol-color: #{$light2};
    --ttt-hover-color: #{$neutral};
    --element-color: #{$dark3};

    --header-footer-color: #{$dark1};
    --header-footer-text-color: #{$light2};
    --header-footer-hover-color: #{$dark2};
    --header-footer-text-hover-color: #{$light1};

    --animation-default: #{$dark1};
    --animation-hover: #{$indigo2};
}

$breakpoint: 768px;
$breakpoint-md: 1200px;
$container-width: $breakpoint-md * 0.8;

$base-font-size: 10px;
$mobile-font-size: 1.6rem;
$desktop-font-size: 1.8rem;
$subheading-coeff: 1.3;

$container-margin: 4%;
$text-margin-sm: 10px;
$container-padding: 7 * $base-font-size;
$accent-padding: .3em;
$decoration-height: 300px;

$mobile-section-border-radius: math.div($decoration-height, 5);

@mixin section-wrapper ($content-left) {
    display: grid;
    grid-template: repeat(2, auto) / auto;

    @media (min-width: $breakpoint) {
        @if $content-left {
            grid-template: auto / 15fr 11fr;
        }

        @else {
            grid-template: auto / 11fr 15fr;
        }
    }

}

@mixin responsive-font-size($mobile-font-size, $desktop-font-size) {
    font-size: $mobile-font-size;
    line-height: 1.8;

    @media (min-width: $breakpoint) {
        font-size: $desktop-font-size;
        line-height: 1.5;
    }
}

@mixin responsive-header-font-size {
    font-size: 1.3 * $mobile-font-size;
    line-height: 1;

    @media (min-width: $breakpoint) {
        font-size: 1.3 * $desktop-font-size;
        line-height: 1;
    }
}

@mixin responsive-heading-font-size {
    @include responsive-font-size(1.87 * $mobile-font-size, 1.96 * $desktop-font-size);
}

@mixin responsive-subheading-font-size {
    @include responsive-font-size($subheading-coeff * $mobile-font-size, $subheading-coeff * $desktop-font-size);
}

@mixin responsive-body-font-size {
    @include responsive-font-size($mobile-font-size, $desktop-font-size);
}

@mixin sticky-panel($padding, $left) {
    @media (min-width: $breakpoint) {
        top: calc($padding + var(--header-footer-height));

        @if $left {
            left: 0;
        }

        @else {
            right: 0;
        }

        position: sticky;
    }
}

@mixin x($before, $after, $color) {

    #{$after},
    #{$before} {
        content: "";
        position: absolute;
        display: block;
        width: 90%;
        height: .2 * 90%;
        background-color: $color;
    }

    #{$before} {
        rotate: 45deg;
    }

    #{$after} {
        rotate: -45deg;
    }
}

@mixin circle($before, $after) {

    #{$after},
    #{$before} {
        content: "";
        position: absolute;
        display: block;
        border-radius: 50%;
        background-color: var(--symbol-color);
    }

    #{$before} {
        width: 90%;
        height: 90%;
    }

    #{$after} {
        width: .6 * 90%;
        height: .6 * 90%;
        background-color: var(--element-color);
    }
}