section.about#about
    .container.container_about.about__wrapper
        .about__section.about__image-container
            .about__image-wrapper
                img.about__image(
                    src="./assets/images/me.jpg", alt="Моя фотография", width="300px"
                )
                img.about__image.about__image_hover(
                    src="./assets/images/me-hover.jpg", alt="Моя фотография", width="300px"
                )
        .about__section.about__text
            h2.heading.heading_about #[span.accent Обо мне]
            p.paragraph.paragraph_about.
                Здравствуйте! Меня зовут Матвеев Юрий. В 2022 году я
                начал изучать фронтенд-разработку: сначала самостоятельно, а затем на курсе
                "Фронтенд-программист" от компании Гикбрейнс (где я учусь
                в настоящее время) и на курсе "Разработка веб-приложений" в рамках государственной
                программы "Содействие занятости" (который я закончил в ноябре).
            .paragraph.paragraph_about Умею работать с:
                ul.fa-ul.paragraph
                    li #[span.fa-li #[i.fa-brands.fa-html5.accent.accent_list-item]] HTML,
                    li #[span.fa-li #[i.fa-brands.fa-css3-alt.accent.accent_list-item]] CSS,
                    li #[span.fa-li #[i.fa-brands.fa-js.accent.accent_list-item]] JavaScript,
                    li #[span.fa-li #[i.fa-brands.fa-git-alt.accent.accent_list-item]] Git,
                    li #[span.fa-li #[i.fa-brands.fa-github.accent.accent_list-item]] GitHub,
                    li #[span.fa-li #[i.fa-brands.fa-sass.accent.accent_list-item]] Sass,
                    li #[span.fa-li #[i.fa-solid.fa-check.accent.accent_list-item]] Pug
            .paragraph.paragraph_about Учусь работать с:
                ul.fa-ul.paragraph
                    li #[span.fa-li #[i.fa-brands.fa-vuejs.accent.accent_list-item]] Vue,
                    li #[span.fa-li #[i.fa-brands.fa-npm.accent.accent_list-item]] npm,
                    li #[span.fa-li #[i.fa-solid.fa-check.accent.accent_list-item]] Webpack