section.about#about
    .container.container_about.about__wrapper
        .about__section.about__image-container
            .about__image-wrapper
                img.about__image(
                    src="./assets/images/me.jpg", alt="Моя фотография", width="300px"
                )
                img.about__image.about__image_hover(
                    src="./assets/images/me-hover.jpg", alt="Моя фотография", width="300px"
                )
        .about__section.about__text
            h2.heading.heading_about #[span.accent Обо мне]
            p.paragraph.paragraph_about.
                Здравствуйте! Меня зовут Матвеев Юрий, я живу в Санкт-Петербурге
                и изучаю фронтенд-разработку.
            p.paragraph.paragraph_about
                |   Закончил курс "Разработка веб-приложений" от Центра занятости,
                |   в настоящее время учусь по программе "Фронтенд-программист" в
                |   GeekBrains. Прошёл курс 
                a.link.link_underline(
                    href="https://www.freecodecamp.org/certification/yuri-m/javascript-algorithms-and-data-structures",
                    target="_blank") JavaScript Algorithms and Data Structures
                |
                |   от freeCodeCamp.
            p.paragraph.paragraph_about Владею английским языком.
            .paragraph.paragraph_about Умею работать с:
                ul.fa-ul.paragraph
                    li #[span.fa-li #[i.fa-brands.fa-html5.accent.accent_list-item]] HTML,
                    li #[span.fa-li #[i.fa-brands.fa-css3.accent.accent_list-item]] CSS,
                    li #[span.fa-li #[i.fa-brands.fa-js.accent.accent_list-item]] JavaScript,
                    li #[span.fa-li #[i.fa-brands.fa-git.accent.accent_list-item]] Git,
                    li #[span.fa-li #[i.fa-brands.fa-github.accent.accent_list-item]] GitHub,
                    li #[span.fa-li #[i.fa-solid.fa-file-code.accent.accent_list-item]] Pug,
                    li #[span.fa-li #[i.fa-brands.fa-sass.accent.accent_list-item]] Sass,
                    li #[span.fa-li #[i.fa-brands.fa-microsoft.accent.accent_list-item]] Typescript,
                    li #[span.fa-li #[i.fa-brands.fa-npm.accent.accent_list-item]] npm
            .paragraph.paragraph_about Учусь работать с:
                ul.fa-ul.paragraph
                    li #[span.fa-li #[i.fa-solid.fa-file-zipper.accent.accent_list-item]] инструментами сборки,
                    li #[span.fa-li #[i.fa-brands.fa-vuejs.accent.accent_list-item]] Vue,
                    li #[span.fa-li #[i.fa-brands.fa-react.accent.accent_list-item]] React,
                    li #[span.fa-li #[i.fa-brands.fa-node.accent.accent_list-item]] Node.js